<!DOCTYPE html>
<footer class="footer">
  <div class="contacts-info-div">
    <p class="contact-item">
      <a
        href="https://www.linkedin.com/in/nathanael-da-silva-farias/"
        class="contact-link"
        target="_blank"
      >
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
          alt="LinkedIn"
          class="contact-image"
        />
      </a>
    </p>
    <p class="contact-item">
      <a
        href="https://github.com/Nathanael-Farias"
        class="contact-link"
        target="_blank"
      >
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          alt="GitHub"
          class="github-icon"
        />
      </a>
    </p>
    <p class="contact-item">
      <a
        href="https://www.instagram.com/natha_nael_farias/"
        class="contact-link"
        target="_blank"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png"
          alt="Instagram"
          class="contact-image"
        />
      </a>
    </p>
  </div>
  <p class="footer-p">
    NathanaelFarias2006&commat;Gmail.com
    <br />
    <br />
  </p>
</footer>
