<!DOCTYPE html>
<div class="project-card">
  <div class="project-title">{{ title }}</div>
  <img class="project-image" [src]="imageUrl" [alt]="title" />
  <div class="icons">
    <img *ngFor="let icon of icons" [src]="icon" [alt]="title" />
  </div>
  <div class="project-description">{{ projectDescription }}</div>

  <a [href]="githubLink" target="_blank">
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
      alt="GitHub"
      class="github-icon"
    />
  </a>
</div>
