<!DOCTYPE html>

<div id="section1" class="section"></div>
<div class="background-container">
  <img
    src="https://i.postimg.cc/8chRx9Mk/c9c035860b3cd18b56d0fc64167ba820.jpg"
    class="background-image"
  />
</div>

<div class="background-container2">
  <img
    src="https://i.postimg.cc/8chRx9Mk/c9c035860b3cd18b56d0fc64167ba820.jpg"
    class="background-image2"
  />
</div>

<div class="background-container3">
  <img
    src="https://i.postimg.cc/8chRx9Mk/c9c035860b3cd18b56d0fc64167ba820.jpg"
    class="background-image3"
  />
</div>

<div class="background-container4">
  <img
    src="https://i.postimg.cc/8chRx9Mk/c9c035860b3cd18b56d0fc64167ba820.jpg"
    class="background-image4"
  />
</div>
