<!DOCTYPE html>
<div id="section2" class="section"></div>
<div class="skills">
    <br>
    <br>
    <br>
  <h1 class="skills-title">Habilidades Técnicas</h1>

  <p class="skills-icons">
    <img
      src="https://static-00.iconduck.com/assets.00/c-sharp-c-icon-1822x2048-wuf3ijab.png"
      alt="C#"
    />
    <img src="https://img.icons8.com/fluent/512/angularjs.png" alt="Angular" />
    <img
      src="https://static-00.iconduck.com/assets.00/typescript-icon-icon-2048x2048-2rhh1z66.png"
      alt="TypeScript"
    />
    <img
      src="https://img.icons8.com/color/512/javascript.png"
      alt="JavaScript"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/512/919/919827.png"
      alt="HTML"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/512/919/919826.png"
      alt="CSS"
    />
    <img
      src="https://www.c-sharpcorner.com/UploadFile/BlogImages/01232023170209PM/Azure%20Icon.png"
      alt="Azure"
    />
    <img
      src="https://i.pinimg.com/originals/00/47/41/004741d0cd8e7face0e44392387ac18c.png"
      alt="Sql Server"
    />
  </p>
</div>
