<div class="modal-backdrop" *ngIf="isVisible" (click)="closeModal()">
  <div
    class="modal"
    [class.fade-out]="isFadingOut"
    (click)="$event.stopPropagation()"
  >
    <h1 class="modal-title">Certificados</h1>
    <button class="close-btn" (click)="closeModal()">X</button>
    <ng-container *ngTemplateOutlet="dynamicTemplate"> </ng-container>
  </div>
</div>

<button class="button-open" (click)="openModal()">CERTIFICADOS</button>

<ng-template #certificateCardTemplate>
  <div class="certificate-container">
    <app-certificate-card
      [title]="'Formação .NET Developer'"
      [imageUrl]="'https://i.postimg.cc/KcTPbnsz/0JSLCA03.png'"
      [certificateLink]="'https://www.dio.me/certificate/0JSLCA03/share'"
    ></app-certificate-card>

    <app-certificate-card
      [title]="'Formação JavaScript Developer'"
      [imageUrl]="'https://i.postimg.cc/G2Brs3sL/2ICRYQFB.png'"
      [certificateLink]="'https://www.dio.me/certificate/2ICRYQFB/share'"
    ></app-certificate-card>

    <app-certificate-card
      [title]="'Foundational C# with Microsoft'"
      [imageUrl]="
        'https://i.postimg.cc/15rBwGSt/dasfsdafdsafsadfsadfdsafsad.png'
      "
      [certificateLink]="
        'https://www.freecodecamp.org/certification/NathanaelFarias/foundational-c-sharp-with-microsoft'
      "
    ></app-certificate-card>

  </div>
</ng-template>
