.contacts-title {
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: bold;
  margin-top: 80px;
}

.contacts-info-div {
  margin-left: 8%;
  margin-right: 8%;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  margin-top: 100px;
  background: linear-gradient(90deg, rgb(102, 0, 94) 9%, rgb(129, 1, 65) 100%);
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease;
  -webkit-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  -moz-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow-wrap: break-word;
}

.contact-item:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-link {
  color: #e600db;
  text-decoration: none;
  font-weight: bold;
}

.contact-link:hover {
  text-decoration: underline;
}

.contacts-div {
  opacity: 0;
  margin-top: 300px;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.contacts-div.visible {
  opacity: 1;
  transform: translateY(0);
}

.contacts-div.hidden {
  opacity: 0;
  transform: translateY(20px);
}
