* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(0, 0, 0) 9%, rgb(68, 0, 62) 100%);
  min-height: max-content;
  animation: fadeIn 2s ease-in-out;
  background-size: cover;
  background-position: center;
}

.body {
  box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgb(0, 0, 0) 9%, rgb(68, 0, 62) 100%);
  z-index: -1;
  min-height: max-content;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Esconde a barra de scroll*/
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  overflow: hidden;
}

body {
  overflow: scroll;
}
