* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 9%, rgb(68, 0, 62) 100%);
  min-height: max-content;
}
.body {
  -webkit-box-shadow: inset -2px 1px 100px 36px rgba(84, 0, 105, 0.29);
  -moz-box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
  box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgb(0, 0, 0) 9%, rgb(68, 0, 62) 100%);
  z-index: -1;
  min-height: max-content;
}
.footer {
  background-color: rgb(39, 0, 36);
  height: 140px;
  width: 100%;
  position: relative;
  bottom: 0;
  -webkit-box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
  -moz-box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
  box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
}

.footer-p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
  color: rgba(221, 221, 221, 0.315);
}

.background-container {
  position: absolute;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
}

.divider {
  width: 100%;
  height: 10vh;
  background: linear-gradient(90deg, rgb(0, 0, 0) 9%, rgb(68, 0, 62) 100%);

  position: absolute;
  top: 100vh;
  z-index: -1;
}

.background-container2 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  margin-top: 200vh;
}

.background-container3 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  margin-top: 300vh;
}

.background-container4 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  margin-top: 100vh;
}

.background-container5 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  max-height: 30%;
  margin-top: 400vh;
}
