<!DOCTYPE html>

<div class="studies-div">
  <h1 class="studies-title">
    Estudos
    <div id="section4" class="section"></div>
  </h1>
  <div class="studies-resume-div">
    <p class="study-item">
      <strong>Tecnólogo em Análise e Desenvolvimento de Sistemas</strong>
      <br />
      out de 2024 - abr de 2027 <br />
    </p>
    <p class="study-item">
      <strong>Universidade Federal do Rio Grande - FURG</strong> <br />

      <br />
      fev de 2024 - out de 2024 <br />
      <br />
      Licenciatura em Química (curso não concluído).<br />
      Estudo focado em fundamentos de química, métodos de ensino e análise
      laboratorial.
    </p>
  </div>
</div>
