.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  margin-top: 300px;
  position: relative;
  z-index: 1;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: -240px;
  position: relative;
  z-index: 2;
}

.project-title {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin: 10px 0 10px 20px;
  position: relative;
  z-index: 2;
}

.title-projectc-card {
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: bold;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  z-index: 2;
}

.title-projectc-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.title-projectc-card.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.projects-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-button {
  padding: 12px 24px;
  background: linear-gradient(90deg, #ff66b2 0%, #ff007f 100%);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 0px 6px 20px rgba(117, 0, 59, 0.5);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  animation: pulse 5s infinite;
  margin-top: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.projects-button:hover {
  transition: 600ms;
  background: linear-gradient(90deg, rgb(61, 0, 77) 9%, rgb(68, 0, 62) 100%);
  box-shadow: 0px 0px 82px 3px rgba(255, 0, 148, 1);
  transform: translateY(-5px);
}

.projects-button:active {
  background: linear-gradient(90deg, #ff007f 0%, #ff66b2 100%);
  box-shadow: 0px 2px 10px rgba(70, 0, 110, 0.4);
  transform: translateY(2px);
}

.projects-button:focus {
  outline: none;
  animation: focusEffect 1s ease-out;
}

@keyframes focusEffect {
  0% {
    transform: scale(1);
    box-shadow: 0px 2px 10px rgba(255, 0, 127, 0.4);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 2px 10px rgba(255, 0, 127, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 2px 10px rgba(255, 0, 127, 0.4);
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease, visibility 1.5s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease, visibility 1.5s ease;
}
