* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-position: center;
  border-image: linear-gradient(
    180deg,
    rgb(168, 0, 84) 9%,
    rgb(190, 0, 92) 51.5%,
    rgb(138, 0, 126) 100%
  );
  min-height: 500vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgb(129, 1, 65) 9%,
    rgb(190, 0, 92) 51.5%,
    rgb(150, 0, 137) 100%
  );
  background: linear-gradient(
    90deg, /* Gradiente horizontal */
    rgb(129, 1, 65) 9%, 
  
    rgb(150, 0, 137) 100%
);

  z-index: -1;
  min-height: 500vh;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
}

nav a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  object-fit: contain;
}

nav a:hover {
  text-decoration: underline;
  transform: translateY(-5px);
  color: #ff50ff;
}

.div-center-resume {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1600px;
  width: 1600px;
  height: 600px;
  border-radius: 47px;
  
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
}

.left {
  border-radius: 55px;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: slideInLeft 0.8s ease-out forwards;
}

.right {
  border-radius: 47px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 1800px;
  margin-bottom: 40px;
}

.profile-photo {
  width: 370px;
  height: 500px;
  border-radius: 20px;
  transform: scale(0.9);
  animation: zoomIn 1.5s ease-out forwards;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8%;
  padding: 20px;
  color: white;
  opacity: 0;
  animation: fadeInText 1s 0.5s ease-out forwards;
  width: 1200px;
}

.text-body-p {
  
  border-radius: 20px;
  padding: 20px;
  font-size: 22px;
  line-height: 1.5;
  margin: 20px;
  font-weight: bold;
  opacity: 0;
  animation: fadeInText 1s 1s ease-out forwards;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 420px;
  margin-top: 20px;
}

.title-body-h1 {
  margin-top: 0;
  text-align: left;
  margin-left: 110px;
  font-size: 44px;
}

footer {
  height: 55px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.letter {
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translateY(-100px);
  animation: flyIn 0.5s forwards;
  margin-right: 0.1em;
  font-size: 21px;
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translate(var(--start-x), var(--start-y));
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.skills {
  margin-top: 100vh;
  height: auto;
  padding: 20px;
  color: white;
}

.skills-title {
  margin-top: 0;
  text-align: center;
  font-size: 44px;
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 1s ease, transform 1s ease; 
}

.skills-title.visible {
  opacity: 1; 
  transform: translateY(0); 
}

.skills-title.hidden {
  opacity: 0; 
  transform: translateY(20px); 
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 60px;
}

.skills-icons img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 1s ease, transform 1s ease; 
  
}

.skills-icons img.visible {
  opacity: 1; 
  transform: translateY(0); 
}

.skills-icons img.hidden {
  opacity: 0; 
  transform: translateY(20px); 
}

.skills-icons img:hover {
  transform: scale(1.2) translateY(-10px);
}

.skills-icons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(33.333% - 10px);
  box-sizing: border-box;
  
}

.skills {
  width: 70%;
  margin-left: calc(50% - 35%);
  padding: 40px 20px;
  color: white;
  box-shadow: 0px 15px 40px -15px rgba(145, 0, 84, 0.3); 
  border-radius: 200px;
}
