* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background: linear-gradient(90deg, rgb(129, 1, 65) 9%, rgb(150, 0, 137) 100%);
  min-height: max-content;
}
.body {
  -webkit-box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
  -moz-box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
  box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgb(129, 1, 65) 9%, rgb(150, 0, 137) 100%);
  z-index: -1;
  min-height: max-content;
}
.footer {
  background-color: #99005e;
  height: 140px;
  width: 100%;
  position: relative;
  bottom: 0;
  -webkit-box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
  -moz-box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
  box-shadow: inset -2px 1px 100px 36px rgba(218, 115, 245, 0.29);
}
.footer-p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
  color: rgba(221, 221, 221, 0.315);
}

.background-container {
  position: absolute;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
}

.divider {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    90deg,
    rgba(150, 0, 137, 0.61) 9%,
    rgba(129, 1, 65, 0.534) 100%
  );

  position: absolute;
  top: 100vh;
  z-index: -1;
}

.background-container2 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  margin-top: 200vh;
}

.background-container3 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  margin-top: 300vh;
}

.background-container4 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  margin-top: 100vh;
}

.background-container5 {
  position: flex;
  min-height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.background-image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  max-height: 30%;
  margin-top: 400vh;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
}

nav a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  object-fit: contain;
}

nav a:hover {
  text-decoration: underline;
  transform: translateY(-5px);
  color: #ff50ff;
}

.div-center-resume {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1600px;
  width: 1600px;
  height: 600px;
  border-radius: 47px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: fadeIn 1s ease-out;
}

.profile-photo {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20%;
  margin-left: 20px;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(195, 0, 255, 0.2);
  transition: transform 1s ease-in-out, box-shadow 0.3s ease;
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.profile-photo:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 50px rgba(219, 0, 208, 0.3);
}

@media (max-width: 768px) {
  .profile-photo {
    max-width: 200px;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: 800px;
  }
}

.right {
  border-radius: 47px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 1800px;
  margin-bottom: 40px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8%;
  padding: 5px 10px;
  color: white;
  opacity: 0;
  animation: fadeInText 1s 0.5s ease-out forwards;
  width: 100%;
}

.text-body-p {
  border-radius: 20px;
  padding: 0;
  font-size: 22px;
  line-height: 1.5;
  margin: 5px 0;
  font-weight: bold;
  opacity: 0;
  animation: fadeInText 1s 1s ease-out forwards;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 420px;
  margin-top: 50px;
}

.title-body-h1 {
  text-align: left;
  font-size: 44px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLetter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeInLetter 0.1s forwards;
}

@media (max-width: 768px) {
  nav a {
    font-size: 16px;
  }

  .div-center-resume {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    height: 500px;
  }

  .left,
  .right {
    width: 100%;
  }

  .profile-photo {
    width: 70%;
    max-width: 250px;
    margin-top: 20px;
  }

  .text-container {
    width: 100%;
    padding: 5px 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 40px;
    text-align: right;
  }

  .title-body-h1 {
    font-size: 32px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 100px;
    text-align: center;
  }

  .text-body-p {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */
/* ******************** SKILLS ******************** */

.skills {
  height: auto;
  padding: 20px;
  color: white;
  margin-top: 1000px;
}

.skills-title {
  margin-top: 0;
  text-align: center;
  font-size: 44px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.skills-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.skills-title.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 60px;
}

.skills-icons img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.skills-icons img.visible {
  opacity: 1;
  transform: translateY(0);
}

.skills-icons img.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.skills-icons img:hover {
  transform: scale(1.2) translateY(-10px);
}

.skills-icons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(33.333% - 10px);
  box-sizing: border-box;
}

.skills {
  width: 70%;
  margin-left: calc(50% - 35%);
  padding: 40px 20px;
  color: white;
  box-shadow: 0px 15px 40px -15px rgba(145, 0, 84, 0.3);
  border-radius: 200px;
  margin-top: 60%;
}

@media (max-width: 768px) {
  .skills {
    width: 90%;
    margin-left: 5%;
    padding: 30px 15px;
    margin-top: 1300px;
  }

  .skills-title {
    font-size: 36px;
  }

  .skills-icons img {
    width: 80px;
    height: 80px;
  }

  .skills-icons > div {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .skills {
    width: 95%;
    margin-left: 2.5%;
    padding: 20px 10px;
  }

  .skills-title {
    font-size: 28px;
  }

  .skills-icons img {
    width: 60px;
    height: 60px;
  }

  .skills-icons > div {
    flex-basis: 100%;
  }
}

/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */
/* ******************** PROJECTS ******************** */

.project-card {
  width: 457px;
  height: 700px;
  border-radius: 36px;
  background: linear-gradient(
    180deg,
    rgb(121, 0, 113) 46%,
    rgba(172, 0, 120, 0.88) 62.5%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  object-fit: contain;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  -moz-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-card.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.project-title {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.project-image {
  width: 429px;
  height: 216px;
  border-radius: 12px;
  object-fit: contain;
  -webkit-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px -7px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.icons img {
  width: 45px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 32px;
  transform: translateY(15px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  z-index: 1;
}

.icons img:hover {
  transform: scale(1.1) translateY(10px);
}

.project-description {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  margin-top: 20px;
  -webkit-box-shadow: 4px -22px 13px -15px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: 4px -22px 13px -15px rgba(255, 255, 255, 0.35);
  box-shadow: 4px -22px 13px -15px rgba(255, 255, 255, 0.35);
  position: relative;
  z-index: 1;
}

.project-button {
  padding: 14px 28px;
  background-color: #9b4dca;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  animation: float 6s ease-in-out infinite;
  z-index: 1;
}

.project-button:hover {
  background-color: #7a28a3;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  -moz-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
}

.project-button:focus {
  outline: none;
  box-shadow: 0 0 12px 4px rgba(155, 77, 202, 0.8);
}

.project-button:active {
  transform: scale(1);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 300px;
  position: relative;
  z-index: 1;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: -240px;
  position: relative;
  z-index: 2;
}

.title-projectc-card {
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: bold;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  z-index: 2;
}

.title-projectc-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.title-projectc-card.hidden {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 15px;
  }

  .project-title {
    font-size: 18px;
  }

  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .icons {
    gap: 8px;
    margin-bottom: 15px;
  }

  .icons img {
    width: 35px;
    height: 35px;
  }

  .project-description {
    font-size: 14px;
    margin-top: 15px;
  }

  .project-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .container {
    margin-top: 50px;
  }

  .title-projectc-card {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 370px;
  }
}

/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */
/* ******************** STUDIES ******************** */

.studies-div {
  opacity: 0;
  margin-top: 300px;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.studies-div.visible {
  opacity: 1;
  transform: translateY(0);
}

.studies-div.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.studies-title {
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: bold;
  margin-top: 80px;
}
.studies-resume-div {
  margin-left: 15%;
  margin-right: 15%;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 25px;
  font-weight: bold;
  margin-top: 100px;

  border-radius: 5;
}

.study-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */
/* ******************** CONTACT ******************** */

.contacts-title {
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: bold;
  margin-top: 80px;
}

.contacts-info-div {
  margin-left: 8%;
  margin-right: 8%;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  margin-top: 100px;
  background: linear-gradient(90deg, rgb(150, 0, 137) 9%, rgb(129, 1, 65) 100%);

  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease;
  -webkit-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  -moz-box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  box-shadow: 0px 0px 100px 91px rgba(218, 115, 245, 0.29);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-item:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-link {
  color: #e600db;
  text-decoration: none;
  font-weight: bold;
}

.contact-link:hover {
  text-decoration: underline;
}

.contacts-div {
  opacity: 0;
  margin-top: 300px;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.contacts-div.visible {
  opacity: 1;
  transform: translateY(0);
}

.contacts-div.hidden {
  opacity: 0;
  transform: translateY(20px);
}
